elpa/*
saveplace
autosave
places
recentf
smex-items
straight/
auto-save-list
transient
/projectile-bookmarks.eld
/projectile.cache
/eshell/history
/eshell/lastdir
/custom.el
/config.el
/.mc-lists.el
/org-clock-save.el
/var/*
/flycheck_init.elc
/savehist
/persist.el
/quelpa/cache
/quelpa/melpa/
/network-security.data
/history
undo/
.savehist
